// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	background: #f4f4f4 url(../img/pattern.png);
	font:100% 'Helvetica Neue',Helvetica,Verdana,Helvetica,Tahoma,Arial,sans-serif;
	line-height: 1.5;
	font-size: 14px;
}

.text-big {
	font-size: 20px;
}

/* HEADER */
#ideheader {
	background: $primary!important;
	padding-top: 0;
	padding-bottom: 0;

	.navbar-brand {
		text-transform: uppercase;
		font-weight: bold;
	}

	#main-menu {
		margin-left: 30px;

		& > li {
			& > .nav-link {
				color: #fff!important;
				padding: 20px 15px 22px;
				border-top: 4px solid transparent;
				transition: all .2s;
			}

			&:hover > .nav-link, 
			&.active > .nav-link {
				background: orange;
				border-top: 4px solid #000;
			}
		}
	}
}

.bg-facebook {
	background: #3d5b99;
	color: #fff;
}

.bg-twitter {
	background: #55acee;
	color: #fff;
}

.bg-google {
	background: #dd4b39;
	color: #fff;
}

/* CARD */
.card {
	border: none;
	border-radius: 8px;

	&.tab-content {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}

/* FORM CONTROL */
.form-control {
	border-radius: 90px!important;
	box-shadow: none!important;
	border: 3px solid rgba(0,0,0,.07)!important;
}

.wpuf-fields input.textfield {
	width: 100%!important;
	margin-right: 0!important;
}

ul.wpuf-form .wpuf-submit input[type=submit] {
	border-radius: 90px!important;
	background: $primary!important;
	text-shadow: none!important;
	box-shadow: none!important;
	border: none!important;
	padding: 10px 35px!important;
}

/* Main Listing */
.main-list-ide {
	list-style: none;
	padding: 0;
	margin: 0;

	& > li {
		padding: 20px 20px;
		border-bottom: 1px solid #e5e5e5;

		& > a {
			color: $primary;
		}

		&:last-of-type {
			border-bottom: 0;
		}
	}
}

.nav-tabs {
	border: 0!important
}

.nav-tabs .nav-link {
	border: 0!important;
}

/* Progress */
.ij-progress {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;

	&:before {
		content:"";
		position: absolute;
		background: #f5f5f5;
		border-radius: 90px;
		height: 12px;
		width: 100%;
		top: 7px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	li {
		float: left;
		width: 25%;
		text-align: center;
		font-size: 11px;
		padding-top: 30px;
		position: relative;
		color: grey;

		&:before {
			content:"";
			width: 25px;
			height: 25px;
			display: block;
			border-radius: 90px;
			background: #fff;
			border: 5px solid #f5f5f5;
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 1;
		}

		&.active:before {
			border-color:#bfd630;
			content:"\f00c";
			font-family: fontAwesome;
			color: #bfd630
		}

		&.active.rejected:before {
			border-color:#d86451;
			content:"\f00d";
			font-family: fontAwesome;
			color: #d86451
		}

		&:nth-of-type(1):after{
			border-radius: 90px 0 0 90px;
			left: 4px;
		}

		&:nth-of-type(4):after{
			border-radius: 0 90px 90px 0;
			right: 4px
		}

		&:after {
			content:"";
			width: auto;
			height: 6px;
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 0;
		}

		&.active:after {
			background: #bfd630;
		}

		&.active.rejected:after {
			background: #d86451;
		}
	}
}

/* CONTENT */
.ide-thumbnail {
	max-height: 400px;
	overflow: hidden;
	justify-content: center;
	img {
		object-fit: cover;
		max-height: 400px;
	}
}

.entry-title {
	text-align: center;
	font-size: 30px;
	margin: 30px 0;
}

textarea#comment {
	border-radius: 8px!important;
}

.site-main.card {
	overflow: hidden;
	img {
		width: 100%;
	}
}

.socialshare {
	a {
		display: block;
		float: left;
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		text-align: left;
		font-size: 14px;
		padding: 10px 10px 10px 35px;

		i.fa {
			position: absolute;
			left: 10px;
			top: 0;
			bottom: 0;
			height: 16px;
			margin: auto 0;
		}

		&:hover {
			color: #fff;
			opacity: .9;
		}
	}
}

/* LOGIN */
.entry-content .wp-social-login-widget {
	text-align: center;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;

	.wp-social-login-connect-with {
		margin-top: 30px;
	}

	.wp-social-login-provider-list {
		a {
			display: block;
			width: 100%;
			padding: 15px 20px;
			background: #000;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			margin-bottom: 5px;
			position: relative;

			img {
				display: none;
			}

			&:after {
				font-family: fontAwesome;
				position: absolute;
				left: 20px;
				font-size: 20px;
				height: 20px;
				line-height: 20px;
				top: 0;
				bottom: 0;
				margin: auto 0;
			}

			&.wp-social-login-provider-facebook {
				background: #4266b2;
				&:before {
					content:"Login with Facebook"
				}
				&:after {
					content:"\f09a";
				}
			}

			&.wp-social-login-provider-google {
				background: #dd4b39;
				&:before {
					content:"Login with Google"
				}
				&:after {
					content:"\f0d5";
				}
			}

			&.wp-social-login-provider-twitter {
				background: #55acee;
				&:before {
					content:"Login with Twitter"
				}
				&:after {
					content:"\f099";
				}
			}
		}
	}
}

#wrapper-footer {
	background: rgba(255,255,255,.7)
}