// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #ff8d00; // Thats a sample how you could change a BootStrap variable.
$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);